# Document
Documents/

# Build output
MSD/Debug/**/*.o
MSD/Debug/**/*.d
MSD/Debug/**/*.su
MSD/Debug/**/*.cyclo
MSD/Debug/*.elf
MSD/Debug/*.map
MSD/Debug/MSD.list
MSD/Debug/*.stdout
MSD/Release/

# Eclipse/CubeIDE metadata
MazeBot_MSD/.settings
.metadata/

# Python cache
Host/__pycache__/

# Design and Build
DnB/

# OS/Editor
.history/
